@import "../../styles/config";

.main-layout {
  max-width: $xl;
  margin: 0 auto;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
  }
}
