@import "../../styles/config";

.game-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 320px;
  padding: 16px 0;

  @media screen and (max-width: $sm) {
    max-width: 280px;
  }
}
